#toolbar {
    overflow: hidden;
    position: fixed;
    background-color: #222222;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}

#options_container a:link, #options_container a:visited {
    display: block;
    color: white;
    text-align:center;
    text-decoration: none;
}

#tjdb_name {
    margin-left: 30px;
    padding-top: 8px;
    color: white;
    float: left;
}

#options_container {
    float: right;
    margin-right: 60px;
}

#user_name {
    margin-right: 14px;
    padding: 8px 15px 8px 15px;
    color: white;
    float: left;
}

#logout {
    padding: 8px 15px 8px 15px;
    color: white;
    float: right;
}

#options_container a:hover, #options_container a:active {
    background-color: #808080;
}
